<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--
      Remove WebDAV module and handler so IIS does not block PUT / DELETE
      requests before they reach the ASP.NET Core (Kestrel) pipeline.
      Without this, IIS returns "405 Method Not Allowed" for any non-GET/POST verb.
    -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\QAAutomation.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
